.git
.gitignore
.env
__pycache__
*.py[cod]
*.pkl
*.log
logs/
/dados/
*.gdb
*.zip
frontend/node_modules
frontend/dist
node_modules
src/ai/modelos/
src/**/__pycache__/
src/modelos/cache/
backups
.venv
venv
